@model Book
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <span class="badge badge-pill badge-primary" sty;e="float:right">
            <h4>@Model.Title</h4>
        </span>
        <p> Author: @Model.AuthorFirst @Model.AuthorMiddle @Model.AuthorLast</p>
        <p> Publisher @Model.Publisher</p>
        <p> ISBN @Model.ISBN </p>
        <p> Classification @Model.Classification</p>
        <p> Category @Model.Category</p>
        <p> Price @Model.Price</p>
        <p> Page Count @Model.Page</p>
    </div>
</div>