@{
    ViewData["Title"] = "Home Page";
}
@*@model IQueryable<Book>*@
@model ListViewModel
<div class="bg-grey">
    <div class="text-center">
        <h1 class="display-4 ">Online Bookstore</h1>

    </div>
    @*this table loads the data from the seed data and the DB into
      a table that has bootstrap styling*@
    <div>
        <h2 class="text-center table table-light"> Book List:</h2>
        <table class="table table-bordered table-hover">
            <thead class="bg-primary">
                <tr class="text-bold">
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Classification</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Pages</th>
                </tr>
            </thead>

            <tbody class="bg-grey">
                @foreach (var x in Model.Books)
                {
                <tr>
                    <td> @x.Title</td>
                    <td> @x.AuthorFirst @x.AuthorMiddle @x.AuthorLast</td>
                    <td> @x.Publisher</td>
                    <td> @x.ISBN </td>
                    <td> @x.Classification</td>
                    <td> @x.Category</td>
                    <td> @x.Price</td>
                    <td> @x.Page</td>
                </tr>
                }
            </tbody>
                <tfoot>
                        <td colspan="8">Continue looking at other options with the page navigator below. </td>
                    </tr>

                </tfoot>
                
            
        </table>
    </div>
</div>
<div class="pagination-lg">
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-classes="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
         class="btn-group pull-right m-1">
    </div>
</div>